<!DOCTYPE html>
<html lang="en" data-theme="black">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/main.bundle.css">
  <script src="/assets/glass.bundle.js" defer></script>
  <title>ViiM Glass</title>
  {% block head %}{% endblock %}
</head>
<body hx-boost="true" class="">
  {% block body %}
    <div>
      {{ content | safe }}
    </div>
  {% endblock %}
</body>
</html>
