{# This page is built with nunjucks! #}

{% set title = 'Beta' %}
{% extends "glasslayout.njk" %}

{% block body %}
  <main class="">
<div class="slider-container">
      <div class="glassslide">
        <img
          src="/assets/explorer.gif"
        />
      </div>
      <div class="glassslide">
        <img
          src="/assets/scanner.gif"
        />
      </div>
      <div class="glassslide">
        <img
          src="/assets/recognizer.gif"
        />
      </div>
      <div class="glassslide">
        <img
          src="/assets/pay.gif"
        />
      </div>
      <div class="glassslide">
        <img
          src="/assets/vimwhite.png"
          alt=""
        />
      </div>
    </div>
  </main>
{% endblock %}
