{# This page is built with nunjucks! #}

{% set title = 'Locker Room' %}
{% extends "lockerlayout.njk" %}



{% block body %}
  <main class="py-8">

<section class="text-primary-content body-font">
  <div class="container px-5 mx-auto">
    
    <div class="m-auto flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
      <p class="leading-relaxed text-base">Authenticate to continue</p>
      <label for="my-modal" class="btn gap-2 btn-outline btn-warning">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
</svg>
        Connect</label>

        <input type="checkbox" id="my-modal" class="modal-toggle" />
<div class="modal" data-theme="light">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Select an option to connect</h3>
    <ul class="menu bg-base-100 w-56 p-2 rounded-box">
  <li>
    <a>
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="24.000000pt" height="12.000000pt" viewBox="0 0 24.000000 12.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,12.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M5 90 c-3 -5 1 -23 10 -40 20 -38 68 -43 86 -7 17 32 17 32 40 4 35
-45 85 -32 91 24 l3 24 -112 2 c-62 1 -115 -2 -118 -7z"/>
</g>
</svg>
    viim glass
    </a>
  </li>
  <li>
    <a>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      Paper wallet
    </a>
  </li>
</ul>
    {# <div class="modal-action">
      <label for="my-modal" class="btn">OK!</label>
    </div> #}
  </div>
</div>
    </div>
    
  </div>
</section>
  </main>
{% endblock %}
